@charset "utf-8";
/* GLOBALS */
/* colors: 
	light grey: 	#cdcdcd
	mid grey: 		#9e9e9e
	dark grey:		#525252
	light green:	#308c67
	dark green:	#194835
	yellow:			#fbe143
	light red:		#b75970
	dark red:		#781c2b
 */
.holidayShip {font-size:0.9em; text-align:left;}
 
 html, body{padding:0px; margin: 0px;}
body {font-family:Oxygen, Helvetica, sans-serif;}
.oxygen {font-family:Oxygen, Helvetica, sans-serif;}
.arial {font-family:Arial, sans-serif; font-weight:bold;}
*, *:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
.ie8msg {width: 50%; margin: 20px auto; text-align: center; border: 1px solid #ccc; padding: 20px; box-shadow: 1px 1px 1px 1px #ccc;}
.showTablet, .showDesktop, .hidePhone {display:none;}
.quickview, .searchResultsProduct .quickView {display:none;}
.productSearchForm input[type="search" i].productSearchKeyword  {
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border-radius:0;
}
.productSearchForm input[type="search"].productSearchKeyword  {
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border-radius:0;
}

.clear {clear:both;}
.center {text-align:center;}
.bold {font-weight:bold;}
.sprite {background-image:url(images/sprite_500x500.png);}
.varyImage {max-width:100%; height:auto;}
.wrapper {width:290px; margin:0 auto;} /* for testing:  background-color:rgba(1,1,1,.1); */
.listWrapper {width:300px; margin:0 auto;}
.titleHead {width:100%; padding:5px; border:2px outset #000000; color:#ffffff; font-size:1.5em;}
.hangingIndent {display:block; padding-left:20px; text-indent:-20px;}

.bareYellowLink {color:#fbe143; text-decoration:none;}
.uYellowLink {color:#fbe143; text-decoration:underline;}
.bareYellowLink:hover, .uYellowLink:hover {color:#ffffff;}
.uRedLink {color:#b75970; text-decoration:underline;}
.uRedLink:hover {color:#781c2b;}
.bareWhiteLink {color:#ffffff; text-decoration:none;}
.bareWhiteLink:hover {color:#fbe143;}
.bareBlackLink {color:#000000; text-decoration:none;}
.redText {color:#781c2b;}
.yellowText {color:#fbe143;}
.whiteText {color:#ffffff;}
.ccButton, .tabContent .applyButton.ccButton, .applyButton.continueShoppingButton.ccButton, .noHovCCButton {padding:1% 2%; color:#000000; font-family:Arial, sans-serif; font-weight:bold; border-top:2px outset #fbe143; border-right:2px outset #000000; border-bottom:2px outset #000000; border-left:2px outset #fbe143; box-shadow:2px 2px 0 0 #cccccc; border-radius:0;}

.secTitleWrap {background-color:#9e9e9e; padding:5px 0;}
.secTitleBorder {border-top:2px solid #525252; border-bottom:2px solid #525252;}
.secTitle {color:#525252; text-align:center;}

/*modal title bar close changes*/
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close, .ui-widget-header .ui-button.ui-state-default {background:none; border:none;}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-default .ui-icon, .ui-widget-header .ui-button.ui-state-default .ui-icon {background-image:url("images/ui-icons_ffffff_256x240.png");}
/*anymessage appearance changes*/
.ui-widget-anymessage {box-shadow:1px 1px 9px -2px #bfbfbf; border:1px solid #cccccc; text-align:center;} 
.ui-widget-anymessage button[title="close message"], .ui-widget-anymessage span.app-icon.app-icon-info {display:none;}
.ui-state-default.ccButton, .ui-widget-content .ui-state-default.ccButton, .ui-widget-header .ui-state-default.ccButton {font-weight:bold;}

.greyGradient,
.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-default,
.catSideline .title.ui-state-default {
	background: #9e9e9e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none'
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllOWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjUyNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);  */
	background: -moz-linear-gradient(top,  #9e9e9e 0%, #525252 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9e9e), color-stop(100%,#525252)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9e9e9e 0%,#525252 100%); /* Chrome10+,Safari5.1+ */
	background-image: -webkit-linear-gradient(top,  #9e9e9e 0%,#525252 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9e9e9e 0%,#525252 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9e9e9e 0%,#525252 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9e9e9e 0%,#525252 100%); /* W3C */
}

.greenGradient,
.createaccountArticle .ccButton,
#loginFormContainer .ccButton {
	background: #308c67; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwOGM2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTQ4MzUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
	background: -moz-linear-gradient(top,  #308c67 0%, #194835 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#308c67), color-stop(100%,#194835)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #308c67 0%,#194835 100%); /* Chrome10+,Safari5.1+ */
	background-image: -webkit-linear-gradient(top,  #308c67 0%,#194835 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #308c67 0%,#194835 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #308c67 0%,#194835 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #308c67 0%,#194835 100%); /* W3C */
}

.redGradient,
.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-active,
.catSideline .title.ui-state-active, 
.ui-dialog.emailDialog .ui-dialog-content,
.continueShoppingButton.ccButton {
	background: #b75970; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3NTk3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ODFjMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
	background: -moz-linear-gradient(top,  #b75970 0%, #781c2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b75970), color-stop(100%,#781c2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b75970 0%,#781c2b 100%); /* Chrome10+,Safari5.1+ */
	background-image: -webkit-linear-gradient(top,  #b75970 0%,#781c2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b75970 0%,#781c2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b75970 0%,#781c2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b75970 0%,#781c2b 100%); /* W3C */
}

.yellowGradient, .productPage .addtocartbutton, .ccButton,
.tabContent .applyButton.ccButton, .noHovCCButton,
.applyButton.ccButton.checkoutButton {
	background: #fbe143; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZTE0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWJkMjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
	background: -moz-linear-gradient(top,  #fbe143 0%, #f5bd25 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbe143), color-stop(100%,#f5bd25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbe143 0%,#f5bd25 100%); /* Chrome10+,Safari5.1+ */
	background-image: -webkit-linear-gradient(top,  #fbe143 0%,#f5bd25 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbe143 0%,#f5bd25 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbe143 0%,#f5bd25 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbe143 0%,#f5bd25 100%); /* W3C */
}

/*BREADCRUMB*/
.filterBreadCrumb {padding:16px 0; font-size:0.8em;}
.filterBreadCrumb a {text-decoration:none; color:#781c2b; margin:0 10px 0 0;}
.crumbTween {color:#bbbbbb; margin:0 10px 0 0;}
.crumbLeaf {color:#194835;}


/* HEADER */
header {position:relative;}
.headerTop {height:26px; width:100%; border-top:2px solid #ccc; border-bottom:2px solid #000000; color:#ffffff;}
.headerMargin {margin:0 20px;}
.links {width:80%; margin:0.3em auto 0 auto;}
.liveChat {padding:0 0 0 19px; position:relative;}
.liveChat .sprite {height:15px; width:19px; background-position:-178px 1px; background-repeat:no-repeat; position:absolute; left:0; top:0;}

.buyerLoggedIn .loginHide {display:none;}
.loginShow {display:none;}
.buyerLoggedIn .loginShow {display:inline;}

.headerMid {height:120px; padding:10px 0 0 0; background-color:white;}
.logo img {height:auto; max-width:100%; margin:0 auto;}

.mobileNav{height:60px; width:100%; margin:20px 0 0 0; text-align:center; border-top:2px solid #7fb8a1;}
.mobileNav > a, .mobileNav .mobileCart, .mobileNav .mobileMenu {height:40px; width:45px; margin:5px 4% 11px 4%; display:inline-block; position:relative;}
.mobileNav .bareWhiteLink {width:100%; position:absolute; bottom:-6px; left:0;}
.mobileNav .spacer {height:40px; width:1px; border-right:1px solid #ffffff; margin:10px 0; display:inline-block;}
.mobileMenu {background-position:-239px 1px; background-repeat:no-repeat;}
.mobileAcct {background-position:-293px 1px; background-repeat:no-repeat;}
.mobilePhone {background-position:-346px 1px; background-repeat:no-repeat;}
.mobileCart {background-position:-195px 1px; background-repeat:no-repeat;}
.mobileCart .cartItemCount {width:15px; position:absolute; top:14px; right:9px; text-align:center;}

.searchCart {margin:5px 0 0 0;}
.upperCartWrapper {position:relative;}
.upperCartWrapper .sprite {height:25px; width:31px; background-position:-129px 0; position:absolute; top:-4px; left:20px;}
.upperCartWrapper .cartItemCount {width:16px; position:absolute; bottom:4px; right:0; color:#ffffff;}
.searchWrapper {padding:8px; border-radius:7px; border:2px outset #308c67; margin:0 0 5px 0; display:inline-block;}
.searchWrapper .productSearchKeyword {height:40px; width:220px; padding:10px; border:none; background-color:#dddddd; float:left;}
.searchWrapper .productSearchButton {height:40px; width:50px; border:1px outset #fbe143; background-color:#fbe143; background-position:12px 7px; background-repeat:no-repeat;}

.headerLower {height:43px; width:100%; color:#ffffff; padding:8px 0 0 0; border-top:2px solid #000000; border-bottom:2px solid #000000; text-align:center; overflow:hidden;}
.shipCarItem {display:inline-block; height:32px; width:100%; text-align:center; text-decoration:none; color:#ffffff;}
.headerLower .promoOffer {font-size:1.3em;}
.headerLower .shipLogo {vertical-align:middle; /*height:30px; width:45px; display:inline-block; background-position:-398px -3px; position:absolute; top:0; left:0;*/}
.headerLower .promoCode {font-size:1.125em;}

.mobileSlideMenu {width:266px; transition:all 0.4s; background-color:#999999; padding:0 5px 5px 0; position:absolute; top:0; left:-275px; z-index:1001; border-radius:0 0 4px 0;}
.mobileSlideMenu.mobileExpand {left:-5px;}
.slideMenuBorder {border-right:3px solid #ffffff; border-bottom:3px solid #ffffff; border-radius:0 0 4px 0; padding:30px 0;}
.mobileSlideMenu .levelOne, .mobileSlideMenu .levelOne .levelTwo > a  {width:100%; padding:10px 0 10px 12px; border-top:1px solid #adadad; position:relative; font-size:1.3em;}
.mobileSlideMenu .levelOne.oneLevel a {display:block; color:#000000; text-decoration:none; font-size:1em; padding:0; border:none;}
.mobileSlideMenu .levelOne.slideTitle {font-size:2em; border:none;}
.mobileSlideMenu .levelOne.slideTitle:hover {color:#000000;}
.mobileSlideMenu .levelOne .slideTop {border:none;}
.mobileSlideMenu .levelOne .sprite, .mobileSlideMenuClose {height:17px; width:12px; background-position:-351px -48px; background-repeat:no-repeat; display:inline-block; position:absolute; top:10px; right:10px;}
.mobileSlideMenuClose {background-position:-351px -94px; right:20px; cursor:pointer;}
.mobileSlideMenu .levelOne .sprite.openMenu {height:12px; width:17px; background-position:-348px -73px;}
.mobileSlideMenu .levelOne .levelTwo {height:0; width:257px; transition:all 2s; overflow:hidden; padding:0 30px; position:absolute; top:35px; left:0;  z-index:1002; background-color:#999999; font-size:0.8em;}
.mobileSlideMenu .levelOne .levelTwo.expand {height:auto;}


.mobileSlideMenu .levelOne:hover .levelTwo {color:#000000;}
.mobileSlideMenu .levelOne .levelTwo > a {padding:10px 0 10px 0; display:block; color:#ffffff; text-decoration:none;}
.mobileSlideMenu .levelOne .levelTwo > a:hover {color:#fbe143;}
.mobileSlideMenu .levelOne .levelTwo > a:first-child {border:none;}

/* FOOTER */
.topBrands {background-color:#cdcdcd; border-bottom:2px solid #525252;}
.footerTopBrandCarWrap {height:100px;  padding:20px 0 0 0; margin:0 auto;}
.footerTopBrandCarWrap .caroufredsel_wrapper {margin:0 !important;}
.footerTopBrandCar {max-height:60px; overflow:hidden;}
.topBrandItem {height:60px; width:100px; margin:0 39px; background-position:0px -273px; background-repeat:no-repeat; overflow:hidden;}
.topBrandItem.adidasLogo {background-position:-212px -273px;}
.topBrandItem.underArmorLogo {background-position:-111px -273px;}
.topBrandItem.newEraLogo {background-position:-308px -274px;}
.topBrandItem.reebokLogo {background-position:-307px -335px;}
.topBrandItem.fortySevenLogo {background-position:-405px -273px;}
.topBrandItem.retroLogo {background-position:-375px -208px;}
.topBrandItem.tervisLogo {background-position:-249px -377px;}
.topBrandItem.topWorldLogo {background-position:-143px -443px;}
.topBrandItem.gameLogo {background-position:-30px -442px;}

.footBG1 {height:280px; padding:20px 0 0 0; position:relative;}
.footerPromo {background-color:#fbe143; font-size:14px; border-top:5px solid #525252; border-bottom:5px solid #525252; padding:15px 0;}
.footerPromo .twoDayShip {color:#781c2b; font-weight:bold; font-size:18px;}
.footRight {width:100%; font-size:12px; text-align:center; position:relative; z-index:1;}
.newsLetterWrapper {width:100%; margin:10px auto 0 auto;}
.newsLetterWrapper form {padding:8px; background-color:#fbe143; box-shadow:1px 1px 0px 0px #555;}
.footEmail {height:40px; width:60%; padding:0 0 0 35px; border:none; color:#9e9e9e; background-position:-458px 0; background-repeat:no-repeat;}
.footEmailSubmit {height:40px; width:39%; padding:0; float:right; border:2px outset #b75970; color:#ffffff; font-size:15px; text-align:center;}
.footSocBanners {width:440px; margin:0 auto;}
.facebookBanner, .twitterBanner, .pinterestBanner, .instagramBanner {height:54px; width:40px; display:inline-block; margin:0 8px; background-position:-313px -150px;}
.twitterBanner {background-position:-360px -150px;}
.pinterestBanner {background-position:-406px -150px;}
.instagramBanner {background-position:-451px -150px;}
.footRight .questions {margin:40px 0 0 0;}
/* .crowd {height:152px; width:100%; position:absolute; bottom:0; left:0; background:transparent url("images/crowd-500x152.png") repeat-x 0 0;} */
.crowd {height:auto; width:100%; position:absolute; bottom:0; left:0;}



/* homepageTemplate */
.homeBanner {max-height:115px; margin:20px auto; text-align:center; overflow:hidden;}
.homeBanner .mainBanImageCont {width:300px;}
.homeBanner img {height:auto; max-width:100%;}
.homeBannerCont {width:300px; position:relative;}
.mainPageCont {position:absolute; right:1px; bottom:5px; z-index:2;}
.mainPage a {height:19px; width:19px; background-color:#fbe143; color:#194835; margin:0 5px; padding:2px 0 0 0; display:inline-block; text-decoration:none;}
.mainPage a.selected {background-color:#194835; color:#fbe143;}
.mainPrev, .mainNext {height:18px; width:17px; background-position:-430px -120px; display:inline-block; margin:0 15px; display:none;}
.mainNext {background-position:-410px -120px;}
.homeFeaturedCats {width:100%; position:relative;}
.homeFeaturedCats .secTitleWrap.ghostTitle {width:300px; position:absolute; top:0; right:-300px; }
.homeFeaturedCats .secTitle {margin:0 60px 0 0;}
.homeFeaturedCats ul {margin:20px; padding:0; text-align:center;}

.homeBestSell {width:100%; overflow:hidden;} 
.homeBestSell .ccList {width:304px; margin:0 auto; float:none;}
.homeBestSell .productList.ccList > li {height:66px; width:66px; border:2px solid #000000; margin:0.5em;}
.homeBestSell .productList.ccList .prodInfo {display:none;}



/* splashPageTemplate */
.fauxBreadCrumb {height:50px; width:auto; margin:0 10%; padding:20px 0 0 0;}
.splashPageTemplate {width:300px; margin:auto;} 
.splashBanner {position:relative;}
.splashBanner p {height:60px; width:110px; position:absolute; top:20px; left:10px; z-index:1; color:#ffffff; text-decoration:none;}
.splashBanner img {height:auto; max-width:100%; margin:10px auto; display:block;}
.splashPageTemplate ul {padding:0;} 

 

/* splashPageListTemplate */
.splashPageListTemplate, .productList.ccList > li {height:96px; width:90px; margin:5px; padding:0 5px; border:2px solid #000000; box-shadow:2px 2px 0 0 #bfbfbf; position:relative;}
.splashPageListTemplate {margin:5px 5px 75px 5px;}
.splashPageListTemplate img {height:auto; max-width:100%;}
.splashPageListTemplate .title {height:80px; width:100%; padding:5px 0 0 0; position:absolute; left:0; bottom:-80px; color:#000000; font-family:Arial, sans-serif; font-weight:bold; overflow:hidden;}



/* filterListTemplate */
.showHideFilters {height:36px; width:100%; padding:2px 0 0 0; border-bottom:2px solid #000000; border-top:2px solid #e9e9e9; color:#ffffff; text-align:center; font-size:2em; text-shadow:2px 2px 2px #000000; position:relative;}
.showHideFilters .sprite, .filterGroupTitle .sprite {height:11px; width:16px; margin:0 0 0 5px; background-position:-376px -117px; background-repeat:no-repeat; display:inline-block;}
.showHideFilters.openFilters .sprite, .filterOpen .filterGroupTitle .sprite {background-position:-376px -130px;}
.filteredSearchTemplate ul {clear:both;}
.filterListTranslator {max-height:0; width:270px; transition:all 0.5s; margin:10px auto; overflow:hidden;}
.filterListTranslator.openFilters {max-height:500px;}
.filterGroup {width:46%; margin:5px; float:left;}
.filterGroupTitle {padding:2px; border:1px solid #000000; color:#ffffff; font-weight:bold;}
.filterOpen .filterGroupTitle {margin-bottom:1em;}
.filterGroup.priceFilter .ui-slider {height:20px; width:70%; margin:5px 13px;}
.filterGroup.priceFilter .sliderValContainer  {padding:0 2px;}
.filterHider {max-height:0; transition:all 0.5s; overflow:hidden; padding:0 0 0 5px;}
.filterOpen .filterHider {max-height:500px;}
.filterControlContainer {text-align:center; clear:both; margin:10px 0 0 0;}
/*.filteredSearchTemplate button {width:90%; display:block; clear:both; margin:10px auto; color:#ffffff; padding:1px 8px; border:2px outset #b75970;}*/
.filteredSearchTemplate button.ccButton {color:#000000; border:2px outset #fbe143;}
.filteredSearchTemplate button.quickView, .productListTemplate button.quickView {display:none; color:#000000; border-color:#fbe143 #000000 #000000 #fbe143; border-style:outset; font-size:0.9em;}
.filterButton {width:40%; margin:0 5px 10px 5px; display:inline-block;}
.filterButton.redGradient {color:#ffffff; padding:1px 8px; border:2px outset #b75970; box-shadow:2px 2px 0 0 #cccccc;}
div[data-filter-type="rangebox"] .qualifies {font-size:0.8em; margin:0 0 0 20px;}
.botLinksCont {width:95%; margin:10px auto; text-align:center; clear:both;}
.botLink {margin:5px 10px; color:#000000; display:inline-block;}

/* productListTemplateResultsNoPreview */
/*.productList.ccList > li {height:auto; width:30%; border:5px solid #000000; position:relative;}
.fluidList.ccList > li {margin:1em 0 1em 1.9em;}
*/
.productList.ccList > li {height:96px; margin:5px 5px 108px 5px;}
.ccList .prodThumbContainer img {height:auto; max-width:100%;}
.ccList .prodInfo {height:100px; width:100%; background-color:rgba(1,1,1,0.5); position:absolute; bottom:-102px; left:0; padding:10px; text-align:center; overflow:hidden;}
.ccList .prodInfo .ourPrice, .ccList .prodInfo .wasPrice, .ccList .prodInfo .nowPrice {font-weight:bold;}
.ccList .prodInfo .wasPrice .pricePre {text-decoration:none;}
.ccList .prodInfo .wasPrice {text-decoration:line-through;}




/* productTemplate */
.imageContainer {width:300px; margin:0 auto; padding:0; position:relative;}
.imageContainer img {height:auto; max-width:100%;}
.prodZoom {width:560px; height:650px; position:absolute; top:0; left:325px; z-index:1; background:#ffffff; border:1px solid #000; box-shadow:0 0 4px 2px #000000;}
.logoUpSell {line-height:50px;}
.productPageLink {padding:6px 0 0 0; color:#781c2b;}
.prodSummaryContainer {width:300px; margin:10px auto; text-align:center;}
.productPage .basePrice {color:#194835; font-size:3em;}
.priceContainer {position:relative;}
.prodMSRP {color:#cccccc; color: #ccc; display: inline-block; font-size: 2.0em; margin: 10px 0 0 10px; text-align: center;}
.basePrice {display:inline-block;}
.moneyBefore {height:26px; width:22px; background-position:-403px -116px; position:absolute; top:10px; left:30%; margin:0 0 0 -15%; display:inline-block;}
.moneyAfter {height:26px; width:22px; background-position:-431px -116px; position:absolute; top:10px; right:30%; margin:0 -15% 0 0; display:inline-block;}
.savingsPercentage {display: inline-block; color:#781c2b; font-size: 2em; margin: 10px 20px 0 0; text-align: center;}
.productPage .priceDesc {font-size:0.5em; display:block; color:#000000; font-weight:normal;}
.variation_SZ .label_select {display:none;}
.sizeOption, .qtySelect {color:#ffffff; background-color:#781c2b; padding:10px; text-align:center; font-weight:bold; margin:5px;}
.sizeOption.selectedSize {color:#781c2b; background-color:#ffffff; border:1px solid #781c2b; margin:4px;}
.prodViewerAddToCartForm {margin:0}
.prodViewerAddToCartForm .inLine {display:inline;}
.prodViewerAddToCartForm .variationsWrapper {padding:0 15px;}
.qtyATCWraper {width:90%; margin:0 auto;}
.selectWrapper {width:61px; position:relative; overflow:hidden;}
.selectWrapper .sprite {height:40px; width:20px; position:absolute; top:10px; right:5px; background-position:0 0;}
.qtySelect {height:35px; min-width:84px; margin:10px 5px; padding:6px 2px; color:#781c2b; display:inline-block; background:url("images/sprite_500x500.png") no-repeat scroll 25px -463px #ffffff; border:1px solid #781c2b; text-align:left;}
.prodViewerAddToCartForm .numberInput {height:40px; border:1px inset #000000; text-align:center;}
.productPage .addtocartbutton {height:50px; width:170px; color:#000000; font-size:2em; border-top:2px outset #fbe143; border-right:2px outset #000000; border-bottom:2px outset #000000; border-left:2px outset #fbe143; box-shadow:2px 2px 0 0 #cccccc; border-radius:0;}
[data-order-soon='1'] {height:0; overflow:hidden;}
.satisfactionGuarantee div[data-slide="toggle"] {display:none; padding:0 1em; text-align:left;}
.latency {width: 290px; margin:10px auto; color:#194835; font-size:1.2em; background-color:#eeeeee; border:2px solid #cccccc; box-shadow:2px 2px 0 0 #cccccc; padding:7px 0;}
.latency .sprite, .satisfactionGuarantee .sprite {height:12px; width:16px; background-position:-351px -117px; display:inline-block;}
.latency.open .sprite, .satisfactionGuarantee.open .sprite {background-position:-351px -131px;}
.latency h3 {display:inline;}
.latency span {font-size:0.6em;}
.latency div[data-slide="toggle"] {display:none; color:#000000; text-align:left;	font-size:0.8em; margin:1em 0; padding:0 1em;}
.fitTip {text-align:left}
.fitTip span {margin:0 0 0 5px; text-decoration:underline;}
.socialLinks a {margin:5px;}

.tabbedProductContentTD .ui-tabs .ui-tabs-nav {width:290px; margin:0 auto; padding:0; box-shadow:2px 2px 0 0 #cccccc;}
/* backgrounds for default and active state set in globals w/ gradients */
.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-default, .catSideline .title.ui-state-default {width:100%; border:2px outset #000000; border-radius:0;}
.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-active, .catSideline .title.ui-state-active {border-top:2px outset #b75970; border-right:2px outset #000000; border-bottom:2px outset #000000; border-left:2px outset #b75970;}
.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-default a {width:100%; color:#ffffff; text-align:center; font-family:Arial, sans-serif; font-weight:bold;}
.tabbedProductContentTD .ui-widget.ui-widget-content.ui-corner-bottom.ui-corner-tr {width:290px; margin:0 auto; background:none; border:none; border-radius:0;}
.tabbedProductContentTD .tabContent.ui-tabs-panel.ui-widget-content.ui-corner-bottom {border:none;}
.sizeGuide {height:auto; max-width:100%;} /*box-shadow:1px 1px 3px 1px #444444;*/

.prodlistRelatedContainer .productList.ccList > li {margin:5px auto 108px auto;}

.productRecentCarousel .mpControlContainer {display:none;}
.ui-dialog.emailDialog {padding:5px; background:#781c2b;}
.ui-dialog.emailDialog, .ui-dialog.emailDialog .ui-dialog-content {color:#ffffff; border-radius:4px;}
.ui-dialog.emailDialog .ui-dialog-content {padding:1% 3% 3% 3%; border:5px solid #ffffff;}
.ui-dialog.emailDialog input {padding:3px 10px;}
.ui-dialog.emailDialog input[type=submit] {font-family:Arial, sans-serif; font-weight:bold;}
.emailDialog input[type=email] {width:65%; margin:0 0 5px 0;}



/*productTemplateQuickiew*/
.productTemplateQuickView .imageContainer, .productTemplateQuickView .prodSummaryContainer  {width:90%;}
.productTemplateQuickView .latency {width:90%; font-size:1em;}
.productTemplateQuickView .ccButton {width:70%; display:block; margin:0 auto; text-align:center;}


/* companyTemplate */
.companyTemplate .mainColumn {width:100%;}
.companyTemplate h1, .customerTemplate h1 {font-family:Arial, sans-serif; font-weight:bold; margin:0 0 1em 0;}
.companyTemplate h2 {color:#781c2b; font-family:Arial, sans-serif; font-weight:bold;}
.companyTemplate h3 {color:#666666;}
.sideline a {color:#666666;}
.sideline a:hover {color:#781c2b;}
.companyTemplate .contactArticle h3, .companyTemplate .contactArticle span, .companyTemplate .contactArticle a {color:#194835; text-decoration:none;}
.companyTemplate .contactArticle a:hover {color:#781c2b;}

.companyAddress {width:100%;}
.companyAddress button {margin:10px;}
.contactArticle form {height:0; overflow:hidden;}
.contactArticle form fieldset {border:none;}

.locationBlock {width:300px;}
.locationBlock img {height:auto; max-width:100%;}
.locationsArticle h4 {color:#194835;}
.locationsArticle a {color:#781c2b; text-decoration:none;}
.locationsArticle a:hover {color:#194835;}

.catSideline {height:400px; width:180px; margin:0 auto;}
.catSideline .homeVertNav {width:180px; padding:5px 4px 0 4px; position:relative;}
.vertNavBorder {border-left:3px solid #ffffff; border-right:3px solid #ffffff; border-top:3px solid #ffffff; border-radius:4px 4px 0 0; padding:0 0 11px 0;}
.catSideline .homeVertNav .vertLinkCont, .catSideline .vertNavTitle {margin-left:13%; margin-right:33%; position:relative;}
.catSideline .homeVertNav .vertLinkCont.vertNavLast {padding:0 0 5px 0;}
.vertNavArrow {height:auto; max-width:100%; position:absolute; bottom:-39px; right:0;}
.vertDropout {width:0; transition:all 0.5s; position:absolute; top:-39px; left:70px; z-index:100; border-radius:4px; overflow:hidden;}
.vertDropout.expand {width:654px;}
.vertDropout .dropoutPositioning {padding:0 0 0 32px;}
.vertDropout .dropoutVertNavCont {padding:5px; border-radius:4px; background:#781c2b;}
.vertDropout .vertNavBorder {border:2px solid #ffffff; border-radius:4px; padding:20px;}
.vertDropout .sprite {height:82px; width:32px; position:absolute; top:12px; left:7px; background-position:-467px -50px;}
.vertDropout .scrollDropout {column-count:3; -moz-column-count:3; -webkit-column-count:3;} /*columns will be alpha by row in IE9*/
.vertLinkCont.ncaa .vertDropout .scrollDropout {}
.vertLinkCont.nhl .vertDropout .scrollDropout {}
.dropLinkCont {height:18px; width:175px; margin:1px 10px; overflow:hidden;  padding:2px 0; font-size:0.7em; border:none; text-align:left; float:left; text-shadow:2px 2px 2px #000000; display:block;}
.vertLinkCont .dropLink {color:#ffffff;}
.vertLinkCont.expandStyle .dropLink {color:#fbe143;}



/* CUSTOMER TEMPLATE*/
.logContainer {height:auto; width:100%; padding:20px;}
#loginFormContainer .logContainer {width:100%; float:none;}
#loginFormContainer p {margin:1em 0;}
.logTitle {color:#781c2b; font-size:1.5em;}
#loginForm {width:100%}
.zform_textbox {width:100%; padding:10px; margin:10px auto; display:block; border:1px solid #000000;}
.createaccountArticle .ccButton, #loginFormContainer .ccButton {width:100%; color:#ffffff; border-top:2px outset #308c67; border-left:2px outset #308c67; font-family:Arial, sans-serif; font-weight:bold; display:inline-block; text-align:center; text-decoration:none; font-size:1.1em; padding:0.4em 1em;}
.createaccountArticle div[data-slide='toggle'], #loginFormContainer div[data-slide='toggle'] {display:none;}



/* CART / CART LIST */
.qtyAligner {position:relative; top:3px; float:left; margin:0 4px 0 0;}
.ccButton .ui-button-text {COLOR:#000000;}
.cartQtySelectWrapper {display:inline; width:56px; display:inline-block; overflow:hidden; position:relative; top:3px; margin:0 4px 0 0;}
.qtySelect.cartQtySelect {height:auto; margin:0; padding:0; background-position:25px -470px;}
.cartSummaryTotalsContainer .ui-widget .cartRefreshButton,
.removeButton.ui-button.ui-button-icon-only {height:20px; width:20px; margin:0;}
.cartTemplateShippingContainer {width:98%;}
.cartSummary {width:58%;}
.ui-state-default.cartButtons {background:#ffffff; border:none;}
.ccButton.checkoutButton {height:38px; width:110px; margin:0 0 10px 0; border:2px outset #fbe143;  padding:9px; display:inline-block;}
.continueShoppingButton.ccButton {height:38px; width:170px;  color:#ffffff; border:2px outset #b75970; padding:9px; margin:0 auto 10px auto;}
.thisButton {float:none; margin:0 0 0.4em 0;}
 #paypalecbutton.thisButton {float:none; margin:0 0 0.1em 0;}
.cartStuffContainer .moveToWishlist {height:1.7em; width:1.8em; border:none;}
.removeButton.ui-button.ui-button-icon-only {height:auto; width:auto; padding:1% 2%; background:none; border:none;}
.removeButton.ui-button.ui-button-icon-only .ui-button-icon-primary {display:none;}
.removeButton.ui-button.ui-button-icon-only .ui-button-text {padding:0; text-indent:0; color:#cccccc;}
#modalCart .footLogos {background-position: 0 -379px; width: 242px; height: 30px; margin:0 auto;}


/* CHECKOUT */
#checkoutContainer form {width:80%; margin:20px auto;}
.buyerLoggedIn .guestOrUser {display:none;}
.checkoutFormContainer .ccButton, .checkoutFormContainer .existingPrompt, .checkoutFormContainer .noHovCCButton {padding:0.2em 0.7em;}
.checkoutFormContainer .ccButton .ui-button-text {padding:0;}
.checkoutFormContainer.customCheckout fieldset {padding:0; border:none;}
.checkoutFormContainer fieldset legend, .checkoutFormContainer .fauxFieldset legend {width:100%; background:#cccccc; border:none; color:#781c2b; padding:0.2em 1em; font-family:Arial, sans-serif; font-weight:bold;}
.checkoutFormContainer fieldset.shipInfo {width:100%;}
.shipCenter {width:70%; margin:0 auto;}
.chkoutEMailWrapper {width:100%;}
.checkoutFormContainer .shipCenter input, .checkoutFormContainer .shipCenter select, .chkoutEMailWrapper input {width:100%;}
.checkoutFormContainer .shipCenter input[type='checkbox'] {width:auto;}
.checkoutFormContainer fieldset legend.plainLegend {background:none; color:#000000;}
.checkoutFormContainer fieldset legend span {color:#333333;}
.checkoutFormContainer fieldset .panelContent {padding:1em;}
.chkLoginCont {width:70%; margin:0 auto;}
/*.checkoutFormContainer [data-app-role='loginPasswordContainer'] {height:0; overflow:hidden;}*/
.paycon.PAYPALEC, .paycon.CREDIT {height:16px; width:76px; display:block; float:left; margin:3px 10px 0 0; background:url(images/sprite_500x500.png) -377px -47px;}
.paycon.CREDIT {background-position:-373px -65px;}
.checkoutFormContainer .summaryPriceAlign, .checkoutFormContainer .orderShipMethod {width:200px; display:inline-block;}

.chkoutPayMethods {font-size:0.7em;}
.checkoutFormContainer fieldset .panelContent.chkoutCartContents {padding:0; font-size:0.9em;}
.chkoutCartContents tr, .chkoutCartContents thead tr:last-child {border-bottom:1px solid #ccc;}
.chkoutCartContents tr:last-child {border-bottom:none;}
.chkoutCartContents td {padding:10px 0;}
.checkoutSuccess {padding:10px;}
.confirmationContinue {float:right; text-decoration:none; font-weight:bold; margin:0 0 5px 0;}
.rowSpacer {height:15px;}



/* PAGE NOT FOUND / 404 */
.notFoundLink {font-size:1.2em; margin:3px 0 5px 15px; color:#781c2b; text-decoration:underline; display:block;}
.notFoundLink.exception {margin:0; display:inline;}



@media screen and (min-width:400px) {
	.hidePhoneLand {display:none;}
	.showPhoneLand {display:inline;}
	.showPhoneLandBlock {display:block;}
	.headerTop {height:36px;}
	.links {width:84%; text-align:center;}
	.homeBannerCont {width:300px;}
	.mainPage a {height:25px; width:25px;}
	.productList.ccList > li {height:106px; margin:5px 5px 118px 5px;}
	.homeBestSell .productList.ccList > li {margin:0.3em;}
	.ccList .prodInfo {height:110px; bottom:-112px;}
	.productPage .addtocartbutton {font-size:1.5em;} 
	.ccButton.checkoutButton {width:140px;padding:6px;}
	.continueShoppingButton.ccButton {width:240px; padding:6px;}
	.chkoutPayMethods {font-size:1em;}
	.checkoutFormContainer fieldset .panelContent.chkoutCartContents {padding:1em; font-size:1em;}
}

@media screen and (min-width : 768px) {
	.hideTablet {display:none;}
	.showTabletBlock {display:block;}
	.showTablet {display:inline;}
	.wrapper {width:728px; margin:0 auto;}
	.listWrapper, .standardNav .slideMenuBorder {width:690px;}
	.secTitle {text-align:right;}
	
	.headerTop {font-size:0.60em;}
	.links {width:67%; float:left; text-align:left;}
	.headerMid {height:90px;}
	.login, .links, .upperCartWrapper {margin:0.8em auto 0 auto;}
	.logo {width:55%; display:inline-block;}
	.headerLower {height:56px; padding:11px 0 0 0; border-top:2px solid #7fb8a1;}
	.shipCarItem {height:56px;}
	.headerLower .promoOffer {padding:0;}
	.headerLower .shipLogo {height:30px; width:45px; background-position:-74px -1px;}
	.mobileSlideMenu.standardNav {height:43px; width:100%; position:static; background-color:#ffffff; padding:0; border-bottom:2px solid #cccccc; border-radius:0;}
	.standardNav .slideMenuBorder {border:none; border-radius:0; padding:0; margin:0 auto;}
	.standardNav .levelOne.slideTitle {display:none;}
	.standardNav .levelOne {width:86px; padding:10px 5px; float:left; border:none; color:#781c2b; text-align:center; font-size:1em; text-shadow:2px 2px 2px #cccccc; cursor:pointer; font-weight:bold; text-decoration:none;}
	.mobileSlideMenu .levelOne.oneLevel a {color:#781c2b;}
	.standardNav .levelOne .sprite, .standardNav .levelOne .sprite.openMenu, .mobileSlideMenuClose {display:none;}
	.standardNav .levelOne .levelTwo {background-color:#781c2b; padding:0 0 0 20px; box-shadow:2px 2px 2px 0 #000000; text-shadow:2px 2px 2px #000000; cursor:default; font-weight:normal;} /* width:217px;  */
	.standardNav .levelOne .levelTwo a {width:50%; padding:2px 0; font-size:1em; border:none; float:left; text-align:left;}
	.standardNav .levelOne .levelTwo.teamDrop {height:0; width:768px; max-width:768px; transition: all 0.4s; padding:0 10px; column-count:4; -moz-column-count:4; -webkit-column-count:4;} /*columns will be alpha by row in IE9*/
	.standardNav .levelOne .levelTwo.teamDrop.expand {}
	.standardNav .levelOne .levelTwo.teamDrop a {height:20px; width:175px; margin:2px 10px; overflow:hidden;}
	.standardNav .levelOne .levelTwo.ncaaDrop {left:-39px;}
	.standardNav .levelOne .levelTwo.ncaaDrop.expand {}
	.standardNav .levelOne .levelTwo.nflDrop {left:-125px;}
	.standardNav .levelOne .levelTwo.nbaDrop {left:-211px;}
	.standardNav .levelOne .levelTwo.mlbDrop {left:-297px;}
	.standardNav .levelOne .levelTwo.nhlDrop {left:-383px;}
	.standardNav .levelOne .levelTwo.nhlDrop.expand {}
	
	.footBG1 {height:740px; background-color:#9e9e9e;}
	.footLeft {width:40%; position:relative; z-index:1;}
	.footUL {margin:40px 0;}
	.footLeft a {color:#ffffff; text-decoration:none; font-size:14px;}
	.footLeft a:hover {color:#fbe143;}
	.footRight {width:60%; font-size:12px; text-align:center; padding:30px 0 0 0; position:relative; z-index:1; float:left;}
	.signUpMsg, .footRight .questions, .footerHours {color:#ffffff; font-size:14px;}
	.newsLetterWrapper {width:90%;}
	.facebookBanner, .twitterBanner, .pinterestBanner, .instagramBanner {height:98px; width:74px; display:inline-block; margin:0 8px; background-position:-1px -48px;}
	.twitterBanner {background-position:-88px -48px;}
	.pinterestBanner {background-position:-172px -48px;}
	.instagramBanner {background-position:-256px -48px;}
	.footerPhone {font-size:48px;}
	.footerAfterHrs {font-size:14px;}
	
	.footBG2 {padding:0; background-color:#666666; color:#ffffff; position:relative;}
	.footEmailSubmit {font-size:18px;}
	.footLogos {height:78px; width:400px; margin:40px auto 0 auto;}
	.delivery, .payment, .gtsLogo {height:38px;}
	.delivery {width:89px;  background-position:1px -159px;}
	.payment {width:233px; background-position:-75px -159px;}
	.gtsLogo{background-position:0 -215px;}
	
	.homeMainWrapper .homeVertNav.showTablet {display:none;}
	.homeBanner {max-height:268px;}
	.homeBannerCont {width:700px;}
	.homeBanner .mainBanImageCont {width:700px;}
	.mainPageCont {right:10px; bottom:10px;}
	.homeFeaturedCats .splashPageListTemplate {height:219px; width:310px; margin:0 10px; display:inline-block; padding:0;}
	.homeFeaturedCats .splashPageListTemplate .title {height:auto; padding:10px;}
	/*.homeBestSell {max-height:310px;}*/
	.homeBestSell .ccList {width:664px;}
	.homeBestSell .productList.ccList > li {height:170px; width:153px; border:2px solid #000000; margin:0.5em;}
	.homeBestSell .productList.ccList .prodInfo {display:block;}
	
	.splashPageTemplate {width:690px;}
	.splashBanner p {height:150px; width:350px; left:20px;}
	.splashPageListTemplate, .productList.ccList > li, .filterListTranslator, .catFilter {height:240px; width:210px; margin:10px; padding:0 5px; border:5px solid #000000; box-shadow:4px 4px 0 0 #bfbfbf;}
	.catFilter {height:auto; margin:15px 10px 10px 10px; float:left;}
	.filteredSearchTemplate ul {clear:none;}
	.filterListTranslator {height:auto;  padding:0; float:left; border:5px solid #bfbfbf;}
	.filterListTranslator.openFilters {max-height:2000px;}
	.filterGroup {width:100%; margin:0;}
	.filterGroupTitle {width:100%; padding:4px 4px 4px 10px; border-bottom:2px solid #000000; border-top:none; border-left:none; border-right:none;}
	.filterHider {padding:0 0 0 15px; margin:0 0 10px 0; overflow-y:auto; overflow-x:hidden;}
	.filterOpen .filterHider {max-height:210px;}
	.splashPageListTemplate .title {height:67px; bottom:0; color:#ffffff; background-color:rgba(1,1,1,0.5);}
	.ccList .prodInfo {height:80px; bottom:0;}
	
	.prodViewerContainer {width:728px; margin:0 auto;}
	.imageContainer, .prodSummaryContainer {width:50%; float:left;}
	.imageContainer {padding:0 5% 0 0;}
	.prodSummaryContainer {padding:0 0 0 5%;}
	.prodMSRP, .savingsPercentage {font-size:1.5em;}
	.basePrice {font-size:2.5em;}
	.moneyBefore, .moneyAfter {top:20px;}
	.prodSummaryUpper, .latency, .prodSummaryLower {width:auto; margin-bottom:20px; background-color:#eeeeee; border:2px solid #cccccc; box-shadow:2px 2px 0 0 #cccccc;}
	.qtyATCWraper {width:80%;}
	.latency, .fitTip {padding:20px;}
	.latency div[data-slide="toggle"] {margin:1em 0 0 0; padding:0;}
	.productPage .addtocartbutton {padding:0;}
	.tabbedProductContentTD {clear:both;}
	.tabbedProductContentTD .ui-tabs .ui-tabs-nav {width:auto; margin:10px auto; padding:0; border-bottom:5px solid #333333; box-shadow:0 0 0 0;}
	.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-default {width:auto; background:#b2b4b1; border:none; border-radius:4px 4px 0 0;}
	.tabbedProductContentTD .ui-tabs .ui-tabs-nav li.ui-state-active, .catSideline .title.active {background:#333333;}
	.tabbedProductContentTD .ui-widget.ui-widget-content.ui-corner-bottom.ui-corner-tr {width:70%; float:left}
	.prodlistRelatedContainer {width:30%; float:left;}
	.prodlistRelatedContainer .productList.ccList > li {height:224px; width:190px; margin:10px auto;}
	.productRecentCarousel .secTitle {text-align:center;}
	
	.productTemplateQuickView .prodViewerContainer {width:100%;}
	.productTemplateQuickView .imageContainer {width:50%; padding:0; float:none;}
	.productTemplateQuickView .prodSummaryContainer {width:90%; padding:0; float:none;}
	.productTemplateQuickView .ccButton {width:40%}
	
	.shippingTemplate h1 {font-size:1.4em;}
	.locationBlock {width:250px; float:left; margin:0 15px 0 0;}
	.locationBlock:nth-child(odd) {float:right;}
	.catSideline {width:175px; margin:0 20px 0 0; font-size:0.9em;}
	.catSideline .ui-accordion-content {padding:0.5em;}
	.companyRight {float:left; width:73%;}
	.companyRight .sideline {width:250px; margin:20px 16px 20px 0;}
	.companyRight .mainColumn {width:100%;}
	.companyAddress {float:none;}
	
	.logContainer {width:48%; margin:1%; float:left; background-color:#f4f4f4; border:5px solid #cccccc;}
	.logRight {float:right;}
	
	.cartButtons .continueShoppingSpan {float:none; margin:0 auto 5px auto;}
	.cartStuffContainer .moveToWishlist {height:1.4em; width:1.4em; margin-top:4px;}
	
	.chkoutEMailWrapper {width:45%;}
	.checkoutFormContainer fieldset.shipInfo {width:49%; float:left;}
	.checkoutSuccess {padding:30px;}
	.orderContentsProdlistContainer .prodThumbContainer {border:2px solid #000000; box-shadow:2px 2px 0 0 #cccccc;}
	.infoContainer {margin:0 10px 0 0;}
	
	.notFoundRight {width:35%;}
	.notFoundLink {font-size:1em;}
	.notFoundImg img {border:5px solid #000000; box-shadow:4px 3px 0 0 #cccccc;}
}
	
	
@media screen and (min-width : 960px) {
	.wrapper {width:920px; margin:0 auto;}
	.listWrapper, .standardNav .slideMenuBorder {width:920px;}
	.hideDesktop {display:none;}
	.showDesktopBlock {display:block;}
	.showDesktop {display:inline;}
	.headerTop {font-size:13px} /* compat-0.8em;*/
	.links {width:70%; float:left;}
	.login, .links, .upperCartWrapper {margin:0.4em auto 0 auto;}
	.standardNav .levelOne {width:115px;}
	.headerMid {height:120px;}
	.standardNav .levelOne:hover {background:#781c2b; color:#fbe143; box-shadow:2px 2px 0 0 #cccccc; text-shadow:2px 2px 2px #000000;}
	.mobileSlideMenu .levelOne.oneLevel:hover a {color:#fbe143;}
	.mobileSlideMenu.standardNav.hideOnHome {display:none;}
	.standardNav .levelOne .levelTwo.teamDrop.expand {}
	.standardNav .levelOne .levelTwo.teamDrop {height:0; width:960px; max-width:960px; transition: all 0.4s; column-count:5; -moz-column-count:5; -webkit-column-count:5;} /*columns will be alpha by row in IE9*/
	.standardNav .levelOne .levelTwo.ncaaDrop {left:-20px;}
	.standardNav .levelOne .levelTwo.ncaaDrop.expand {}
	.standardNav .levelOne .levelTwo.nflDrop {left:-135px;}
	.standardNav .levelOne .levelTwo.nbaDrop {left:-250px;}
	.standardNav .levelOne .levelTwo.mlbDrop {left:-365px;}
	.standardNav .levelOne .levelTwo.nhlDrop {left:-480px;}
	.newsLetterWrapper {width:80%;}
	.cartWrapper .sprite {height:30px; width:30px; background-position:-39px 1px; margin:0 0 0 40px;}
	.cartWrapper .cartItemCount {height:25px; width:25px; padding:1px 0 0 0; margin:0 5px 0 0; text-align:center; color:#ffffff; background-color:red; border-radius:15px; box-shadow:1px 1px 2px 0 #000000;}
	.itemsInCart {margin:0 5px 0 0;}
	
/*	.footerTopBrandCarWrap {width:950px;}*/
	
	.homeMainWrapper .homeVertNav.showTablet.showDesktopBlock {display:block;}
	.homeMain {width:75%; float:right;}
	.homeBannerCont {height:268px; width:680px; margin:20px auto;}
	.mainPageCont {right:7px;}
	.homeBestSell .ccList {width:904px;}
	.homeBestSell .productList.ccList > li {height:250px; width:200px; border:2px solid #000000; margin:1em;}
	.homeTopBrands {width:654px; margin:0 auto 10px auto;}
	.homeMain .topBrandItem {height:30px; width:50px; margin:0 20px; background-position:0px -343px; background-repeat:no-repeat; overflow:hidden; display:inline-block;}
	.homeMain .topBrandItem.adidasLogo {background-position:-99px -343px;}
	.homeMain .topBrandItem.underArmorLogo {background-position:-51px -343px;}
	.homeMain .topBrandItem.newEraLogo {background-position:-147px -343px;}
	.homeMain .topBrandItem.reebokLogo {background-position:-424px -344px;}
	.homeMain .topBrandItem.fortySevenLogo {background-position:-194px -343px;}
	.homeMain .topBrandItem.retroLogo {background-position:-235px -343px;}
	.homeVertNav {width:220px; padding:5px 5px 0 5px; position:relative;} /* compat-max-width:230px */
	.vertNavBorder {border-left:3px solid #ffffff; border-right:3px solid #ffffff; border-top:3px solid #ffffff; border-radius:4px 4px 0 0; padding:0 0 11px 0;}
	.vertNavTitle {font-size:12px;}
	.homeVertNav .vertLinkCont, .vertNavTitle {margin-left:13%; margin-right:33%; position:relative;}
	.homeVertNav .vertLinkCont.vertNavLast {padding:0 0 5px 0;}
	/*.vertNavArrow {height:50px; width:229px; position:absolute; bottom:-42px; right:0; background-position:-144px -210px;}*/
	.vertNavArrow {height:auto; max-width:100%; position:absolute; bottom:-39px; right:0;}
	.vertDropout {width:0; position:absolute; top:-39px; left:100px; z-index:100; border-radius:4px; overflow:hidden;}
	.vertDropout.expand {width:805px;}
	.vertDropout .dropoutPositioning {padding:0 0 0 32px;}
	.vertDropout .dropoutVertNavCont {padding:5px; border-radius:4px; background:#781c2b;}
	.vertDropout .vertNavBorder {border:2px solid #ffffff; border-radius:4px; padding:20px;}
	.vertDropout .sprite {height:82px; width:32px; position:absolute; top:12px; left:7px; background-position:-467px -50px;}
	.vertDropout .scrollDropout {column-count:4; -moz-column-count:4; -webkit-column-count:4;} /*columns will be alpha by row in IE9*/
	.vertLinkCont.ncaa .vertDropout .scrollDropout {}
	.vertLinkCont.nhl .vertDropout .scrollDropout {}

	.splashPageTemplate {width:920px;}
	.splashBanner p {left:140px;}
	
	.filteredSearchTemplate button.quickView.showQuickview, 
	.productListTemplate button.quickView.showQuickview,
	.searchResultsProduct button.quickView.showQuickview {display:inline-block;}
	.prodlistRelatedContainer .searchResultsProduct button.quickView.showQuickview {display:none;}
	.prodViewerContainer {width:908px;}
	.prodZoom {left:425px;}
	.prodMSRP, .savingsPercentage {font-size:2em;}
	.basePrice {font-size:3em;}
	.sizeOption:hover {background:#b75970;}
	.sizeOption.selectedSize:hover{background:#ffffff;}
	.productPage .addtocartbutton {width:220px; font-size:2em;}
	.productPage .addtocartbutton:hover {background:#781c2b; color:#ffffff; border-left:2px outset #b75970; border-top:2px outset #b75970;}
	
	#product-modal .productTemplateQuickView .imageContainer, #product-modal .productTemplateQuickView .prodSummaryContainer {width:50%; float:left;}
	.productTemplateQuickView .prodSummaryContainer {float:none;}
	
	.shippingTemplate h1 {font-size:1.7em;}
	.catSideline {width:183px;}
	.locationBlock, .companyRight .sideline {width:300px;}
	.companyRight {padding:0 0 0 30px;}
	
	.logContainer {width:31%;}
	.logRight {float:left;}
	
	.chkoutEMailWrapper {width:46%;}
	.checkoutFormContainer .ccButton:hover {background:#781c2b; border-color:#b75970 #000000 #000000 #b75970; color:#ffffff;}
	.checkoutFormContainer .ccButton:hover .ui-button-text {color:#ffffff;}
	.orderContentsTable .hide4Print .ui-state-default .ui-icon {background-image:url("images/ui-icons_ffffff_256x240.png");}
	
	.notFoundRight {width:50%;}
	.notFoundLink {color:#b75970; display:inline-block;}
	.notFoundLink:hover {color:#781c2b;}
}

@media screen and (min-width : 1080px) {
	#appView {width:1080px; margin:0 auto; box-shadow:0px 1px 5px 5px #cccccc;}
	.wrapper {width:950px;}
	.headerMargin {width:950px; margin:0 auto;}
	.standardNav .levelOne .levelTwo.teamDrop {width:1080px; max-width:1080px;}
	.standardNav .levelOne .levelTwo.ncaaDrop {left:-80px;}
	.standardNav .levelOne .levelTwo.nflDrop {left:-195px;}
	.standardNav .levelOne .levelTwo.nbaDrop {left:-310px;}
	.standardNav .levelOne .levelTwo.mlbDrop {left:-425px;}
	.standardNav .levelOne .levelTwo.nhlDrop {left:-540px;}
	.homeMainWrapper {width:1080px; margin:0 auto;}
	.homeBannerCont {width:700px;}
	.mainPageCont {right:5px;}
	.vertDropout.expand {width:896px;}
	.homeFeaturedCats .splashPageListTemplate {height:233px; width:330px;}
	
	.prodViewerContainer {width:948px;}
	.shippingTemplate h1 {font-size:1.8em;}
	.catSideline .vertDropout {left:88px;}
	.companyRight .sideline {margin:20px 21px 20px 0;}
}

@media screen and (min-width : 1180px) {
	.continueShoppingButton.ccButton {float:left; margin:0;}
	.chkButCont {float:right;}
}